body {
  margin: 10vh 20px;
}

// Some grid system scaffolding
.row {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
}
.col {
  flex: 1 0 auto;
  padding: 0 10px;
}
._span-4 {
  flex-basis: 33.333333333%;
}
._span-8 {
  flex-basis: 66.666666667%;
}

// Flexbox magic...
$imagegrid-height: 440px !default;

.imagegrid {
  height: $imagegrid-height;
  .imagegrid-column {
    display: flex;
    flex-direction: column;
  }
  .imagegrid-image {
    flex: 1 0 auto;
    margin: 10px 0;
    background: #eee;
  }
}
// ...that's it.

// Image classes
.imagegrid-image._1 {
  background: url(http://lorempixel.com/640/480/people/2) #eee center center;
  background-size: cover;
}
.imagegrid-image._2 {
  background: url(http://lorempixel.com/640/480/people/9) #eee center center;
  background-size: cover;
}
.imagegrid-image._3 {
  background: url(http://lorempixel.com/640/480/people/4) #eee center center;
  background-size: cover;
}
